<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ title }}</h3>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search For Employees...">
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Search</button>
      </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row second">
    <app-employee></app-employee>
  </div>
</div>

