<div class="container-fluid bg-color">
    <div class="row">
        <div class="container account-wall">
            <div class="row">
                <div class="col-lg-6 col-1">
                    <h1 class="h1">TimeApp</h1>
                    <h2 class="h2">-Keep track of your working time</h2>
                    <div class="hline"></div>
                    <div class="content">
                      <p>Create time reports fast and easy</p>
                      <p>View your reports and track your status</p>
                      <p>Supports desktop and mobile</p>
                    </div>
                </div>
                <div class="col-lg-6 col-2">
                    <form class="form-signin">
                      <input type="text" class="form-control" placeholder="Enter username" required autofocus>
                      <input type="password" class="form-control" placeholder="Enter password" required>
                      <button class="btn btn-lg btn-primary btn-block submit-btn" type="submit">Sign in</button>
                      <a href="#" class="pull-right forget-pas">Forget password?</a><span class="clearfix"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>