<div class="container spacing">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-offset-lg-1 first-col account-wall">
                <h1 class="h1">TimeApp</h1>
                <h2 class="h2">-Keep track of your working time</h2>
                <hr class="hline">
                <div class="content">
                    <p>Create time reports fast and easy</p>
                    <p>View your reports and track your status</p>
                    <p>Supports desktop and mobile</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 second-col account-wall">
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <a href="#" class="pull-right forget-pas">Forget Password? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>