.navbar-brand {
  display: inline-block;
  /*padding-top: 4px;
  line-height: inherit;
  white-space: nowrap;
  padding-bottom: 4px;*/
  margin-right: 16px;
  font-size: 30px;

}

.navbar-default .navbar-brand {
  color: #337ab7;
}
