<div class="container second">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ title }}</h3>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Email</th>
            <!--<th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add</button></th>
            <th><button type="button" class="btn btn-primary" (click)="getEmpData()">Add</button></th>-->
          </tr>
          </thead>
          <tbody *ngFor="let empdata of employeeData">
          <tr>
            <td>{{ empdata.firstName }}</td>
            <td>{{ empdata.lastName }}</td>
            <td>{{ empdata.gender }}</td>
            <td>{{ empdata.role }}</td>
            <td>{{ empdata.email }}</td>
            <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-md">Edit</button></td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>


<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-employee-forms></app-employee-forms>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


