<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ title }}</h3>
    </div>
  </div>
</div>
<div class="container">
    <div class="main-login main-center">
      <form class="form-horizontal" method="post" action="#">

        <div class="form-group">
          <label for="firstName" class="cols-sm-2 control-label">First Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="firstName" id="firstName"  placeholder="Enter your First Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="secondName" class="cols-sm-2 control-label">Second Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="secondName" id="secondName"  placeholder="Enter your Second Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="role" class="cols-sm-2 control-label">Role</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="role" id="role"  placeholder="Enter your Role"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="gender" class="cols-sm-2 control-label">Gender</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-genderless fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="gender" id="gender"  placeholder="Enter your Gender"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="button" class="btn btn-primary btn-lg btn-block add-button">Add</button>
        </div>

      </form>
    </div>
</div>

